.custom-container {
  width: 100%;
  padding: 100px;
}

.card-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 21%;
}

.card {
  margin: 20px;
  opacity: 0.8;
}

.card:hover {
  opacity: 1;
}

.btn-outline-primary {
  margin: 3px;
  padding: 3px;
}

.search {
  position: relative;
}

.search__icon {
  position: absolute;
  top: 10px;
  margin-left: -15px;
}